**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
x =input("Enter words: ")
print("length = " + str(len(x)))

Enter words: Muhammet Elsheikh
length = 17

In [2]:
counter = 0
x =input("Enter words: ")
for i in x:
    counter+=1
print("length = " + str(counter))

Enter words: Muhammet Elsheikh
length = 17

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [1]:
x =input()
if len(x)<2:
    print("")
else:
    print(x[0:2]+x[-2:])

w3resource
w3ce

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [2]:
x =input()
if len(x)<3:
    print(x)
else:
    if x[-3:] == "ing" :
        print(x + "ly")
    else:
        print(x + "ing")

abc
abcing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [38]:
def longest(x):
    y = []
    for i in x:
        y.append((len(i), i))
    y.sort()
    return y[-1]
result = longest(["Exercises" , "we" , "dndndn" , "instant"])
print("Longest word: ", result[1] , "\nLength of the longest word: " , result[0])

Longest word:  Exercises
Length of the longest word:  9

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [3]:
x =input()
print(x[-1]+x[1:-1]+x[0])

abce
ebca

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [4]:
x = input()
z=""
for i in range(len(x)):
    if i % 2 == 0:
        z+=x[i]
print(z)

abca
ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [5]:
x = input()
print(x.upper())
print(x.lower())

MuhaMMet
MUHAMMET
muhammet

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [6]:
x = input()
if len(x) % 4 == 0:
    z=x[::-1]
    print(z)
else:
    print(x)

abcd
dcba

**10- Write a Python program to remove a newline in Python

In [7]:
x='ay kalam\n'
print(x.rstrip())

ay kalam

**11-Write a Python program to check whether a string starts with specified characters

In [8]:
x ="muhammet afd l;jk fkmn"
print(x.startswith("mu"))

True

**12- Write a Python program to add prefix text to all of the lines in a string

**13-Write a Python program to print the following numbers up to 2 decimal places

In [9]:
x = 5.12569
z = 7.99765
print(x)
print("{:.2f}".format(x));
print(z)
print("{:.2f}".format(z));

5.12569
5.13
7.99765
8.00

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [10]:
x = 5.12569
z = -7.99765
print(x)
print("{:+.2f}".format(x));
print(z)
print("{:+.2f}".format(z));

5.12569
+5.13
-7.99765
-8.00

**15-Write a Python program to display a number with a comma separator

In [11]:
x = 9999999999
print(x)
print("{:,}".format(x));

9999999999
9,999,999,999

**16-Write a Python program to reverse a string using 2 ways

In [12]:
x = input()
z=x[::-1]
print(z)

mohammed
demmahom

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [39]:
x = "muhammet elsheikh"

count = {}
for i in x:
    if i in count:
        count[i] += 1
    else:
        count[i] = 1
        
print(count)

{'m': 3, 'u': 1, 'h': 3, 'a': 1, 'e': 3, 't': 1, ' ': 1, 'l': 1, 's': 1, 'i': 1, 'k': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [40]:
s = 'mmmkhhldyoj'
for i in s:
        if (s.find(i, (s.find(i)+1))) == -1:
            print("First non-repeating character is", i)
            break

First non-repeating character is k

**19-Write a Python program to remove spaces from a given string

In [13]:
x = input()
x= x.replace(" ","")
print (x)

aa bb cc dd
aabbccdd

**20-Write a Python program to count the number of non-empty substrings of a given string

In [41]:
s = "elsheikh"
print (int (len(s) * (len(s) + 1) / 2) )

36

**21-write a Python program to swap first and last element of any list.

In [14]:
list = [5,6,7,8,9]
z=list[0]
list[0]=list[-1]
list[-1]=z
print (list)

[9, 6, 7, 8, 5]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [21]:
d = [23, 65, 19, 90]
d[0] , d[2] = d[2] , d[0]
print (d)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [15]:
list = [5,6,7,8,9]
print (max(list))

9

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [16]:
list = [5,6,7,8,9]
print (min(list))

5

**26-search for if an elem is existing in list

In [19]:
list = [5,6,7,8,9]
if 7 in list:
    print (True)
else:
    print (False)

True

**27- clear python list using different ways

In [17]:
list = [5,6,7,8,9]
list.clear()
print(list)

[]

**28-remove duplicated elements from a list

In [42]:
v = [1, 3, 5, 6, 3, 5, 6, 1]
m = []
for x in v:
    if x not in m:
        m.append(x)
print (m)

[1, 3, 5, 6]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

**30-write a python program to count unique values inside a list using different ways

In [43]:
v = [1, 3, 5, 6, 3, 5, 6, 1]
m = []
count = 0
for x in v:
    if x not in m:
        count += 1
        m.append(x)
print (count)

4

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [55]:
l=[1, 2, 3]

for i in range(3):
    for j in range(3):
        for k in range(3):
                if (i!=j and j!=k and i!=k):
                    print(l[i], l[j], l[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [54]:
inp = [1,1, 2, 3, 4, 5, 1, 2, 1]
x = 1
res=[]
for i in inp:
    if i != x:
        res.append(i)

print(res)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [52]:
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
K = 7

res = {}
for x in test_dict:
    if not (isinstance(test_dict[x], int) and test_dict[x] >= K):
        res[x] = test_dict[x]
        
print(res)

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [51]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
dic4.update(dic1)
dic4.update(dic2)
dic4.update(dic3)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [50]:
d = {'Red': 1, 'Green': 2} 
for x, value in d.items():
     print(x, d[x])

Red 1
Green 2

**44- Write a Python script to merge two Python dictionaries

In [48]:
d1 = {'d10': 10, 'd11': 20}
d2 = {'d20': 30, 'd21': 40}
d1.update(d2)
print(d1)

{'d10': 10, 'd11': 20, 'd20': 30, 'd21': 40}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [47]:
d = {'x':1000, 'y':5000, 'z': 200}

mx = max(d.keys(), key=(lambda k: d[k]))
mn = min(d.keys(), key=(lambda k: d[k]))

print('Maximum Value: ',d[mx])
print('Minimum Value: ',d[mn])

Maximum Value:  5000
Minimum Value:  200

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [53]:
dy = {'c1': 'Red', 'c2': 'Green', 'c3':None}
dy = {key:value for (key, value) in dy.items() if value is not None}
print(dy)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [46]:
t = 5, 10, 15, 20, 25
print(t)
print("one item: ", t[2])

(5, 10, 15, 20, 25)
one item:  15

**48-Write a Python program to unpack a tuple into several variables

In [45]:
t = (7,3,10)
x,y,z = t

print((x+y)*z)

100

**49-Write a Python program to add an item to a tuple

In [33]:
t=(4,5,6,8,10)
t=t +(3,)
print(t)

(4, 5, 6, 8, 10, 3)

**50-Write a Python program to convert a tuple to a string

In [36]:
x = ("M","h","m","t")
y=""
for i in x:
    y+=i
print(y)

Mhmt

**51-Write a Python program to convert a list to a tuple

In [35]:
x = [5,6,8,9,7,10]
print(tuple(x))

(5, 6, 8, 9, 7, 10)

**52-Write a Python program to reverse a tuple

In [34]:
x = (5,6,8,9,7,10)
print(tuple(reversed(x)))

(10, 7, 9, 8, 6, 5)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [37]:
s= "python 3.0"
print(tuple(s))

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [31]:
t=(4,5,6,8,10)
z= sum(t)/len(t)
print("average value= ", z)

average value=  6.6

**56-Write a Python program to add member(s) to a set.

In [29]:
x = {0, 2, 4, 6, 8};
x.add(10)
print(x)

{0, 2, 4, 6, 8, 10}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [28]:
x = {0, 2, 4, 6, 8};
x.discard(2)
print (x)

{0, 4, 6, 8}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [25]:
x = {0, 2, 4, 6, 8};
y = {1, 2, 3, 4, 5};

print("Intersection :", x&y)
print("Union :", x|y)
print("Difference :", x-y)
print("Symmetric difference :", x^y)

Intersection : {2, 4}
Union : {0, 1, 2, 3, 4, 5, 6, 8}
Difference : {0, 8, 6}
Symmetric difference : {0, 1, 3, 5, 6, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [23]:
set={7,8,9,10,11,12,13,14,15,16}
print ("Maximum: ", max(set))
print ("minimum: ", min(set))

Maximum:  16
minimum:  7

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [44]:
l = [1, 5, 3, 7, 9]
K = 12

res = []
while l:
    num = l.pop()
    x = K - num
    if x in l:
        res.append((x, num))
            
print(res)

[(3, 9), (5, 7)]